/* @import url(https://fonts.googleapis.com/css2?family=Koulen&display=swap);

:root{
    --primary-font:"Jersey 10", serif !important;
    --secondary-font:'Koulen', display;
}

.card-list .card-item {
    color: #fff;
    width: 400px;
    padding: 35px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(30px);
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding:4px;
}
.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}
.card-list .card-item .message-button:hover{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Comfortaa', cursive; */
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle, #d0acff 20%, #448ee3 100%); */
    min-height: 100vh;
    overflow: hidden;
}

.swiper{
    width: 280px;
    height: 430px;
    padding: 50px 0;
    /* background: #dbe344; */
}

.swiper-slide{
    position: relative;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
}

.swiper-slide h3{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px 10px;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: 800;
    word-spacing: -1px;
    background-color: #ffffff;
    box-shadow: inset 2px -2px 2px #bfbfbf, inset 3px -3px 3px #808080;
}
.swiper-slide p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px 10px;
  margin: 0 20px 20px 20px;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: 800;
  word-spacing: -1px;
  background-color: #ffffff;
  box-shadow: inset 2px -2px 2px #bfbfbf, inset 3px -3px 3px #808080;
}

.swiper-slide h3 span{
    font-size: 1.1rem;
    color: #1a24b9;
    font-weight: 900;
}

.swiper-slide h2{
    position: absolute;
    width: 80%;
    bottom: 12%;
    text-align: left;
    left: 0;
    color: #fff ;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* padding: 2px; */
    /* backdrop-filter: blur(20px); */
    font-weight: 900;
    font-size: 1.4rem;
    margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(2) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(3) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(4) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(5) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(6) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(7) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(8) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(9) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./images/p9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.opactive{
visibility: hidden;
transition: 0.5 ease;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  word-wrap: break-word;
}
.card {
  width: 500px;
  height: 500px;
  margin-bottom: 1px;
  /* border: 1px solid #ccc; */
  padding: 2px;
  padding-top: 1px;
  text-align: center;
}

#faculCood{
 background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/images/faccod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.opactive{
   visibility: hidden;
}