@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    box-sizing: border-box;
margin: 0;
}
body{
 background: linear-gradient(to right,#181120,#261534,#251a3e,#171634);

}
.container-team{
    background-color: #9569FC;
    color:white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jersey 10';
    letter-spacing: 2px;
    font-weight: 100!important;
    font-size: 8vh!important;
}
.container-main{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.container-main a{
    text-decoration: none;
    color: #181120;
    font-family: Koulen;
}

.container-event{
    margin: auto;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;

}
