@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    box-sizing: border-box;

}
body{
 background: linear-gradient(to right,#181120,#261534,#251a3e,#171634);

}
.container-team{
    background-color: #9569FC;
    color:white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jersey 10';
    letter-spacing: 2px;
    font-weight: 100!important;
    font-size: 8vh!important;
}